.menuContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  width: 29.2rem;
  padding: 6px 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 46, 57, 15%);
  display: flex;
  flex-direction: column;
  z-index: 9;
  outline: none;
}
.menuContainer1 {
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  width: 22.2rem;
  padding: 6px 0;
  z-index: 9;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 46, 57, 15%);
  display: flex;
  flex-direction: column;
}
.menuContainer2 {
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(105%);
  width: 17.3rem;
  padding: 6px 0;
  z-index: 9;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 46, 57, 15%);
  display: flex;
  flex-direction: column;
}
.menu {
  /* width: 100%; */
  height: 4rem !important;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.5rem;
}
.menu:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.icon {
  color: #717171;
  transform: rotate(90deg);
  font-size: 2rem;
}
.icon1 {
  color: #717171;
  font-size: 2rem;
}
.menu p {
  color: #717171;
  font-size: 1.4rem;
  font-weight: 500;
}
.delete {
  color: #d33852 !important;
}
.none {
  display: none;
}
.menu input {
  background-color: #717171;
  opacity: 0;
  left: 0;
  cursor: pointer;
  height: 4rem;
  width: 100%;
  position: absolute;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  margin: 2px 0;
}
